.big-container {
  margin: 0%;
  padding: 0%;
}

.container-1 {
  padding: 0%;
  background-color: #d3d3d3;
}

.navItem1 {
  display: none;
  justify-content: flex-end;
  background-color: #272a31;
  align-items: center;
}

.navItem {
  color: #d3d3d3;
  margin-right: 10px;
  align-items: baseline;
  font-family: 'Lato', serif;
  font-size: 80%;
  font-weight: 300;
}

li.nav-item {
  list-style: none;
  min-width: 160px;
  z-index: 1;
  padding: 20px;
  font-size: 32px;
  height: 44px;
  font-weight: 600;
  margin-left: 15px;
}

a.nav-link {
  color: black;
  display: block;
  text-decoration: none;
}

.show {
  display: block;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#nav-menu {
  display: none;
}

#nav-menu.active {
  display: block;
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 20px 0 0 0;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: white;
  text-align: left;
}

.nav-link {
  transition: 0.7s ease;
}

.home-page {
  height: fit-content;
  background-color: #d3d3d3;
  padding-top: 1%;
  padding-bottom: 3%;
}

.navBar1 {
  display: flex;
  flex-direction: column;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.hamburguer {
  display: block;
  cursor: pointer;
  animation: transform 1s;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 00.3s ease-in-out;
  color: white;
}

.hamburguer.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

button.hamb {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

#nav-menu {
  display: none;
}

#nav-menu.active {
  display: block;
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 20px 0 0 0;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: white;
  text-align: left;
}

.nav-link {
  transition: 0.7s ease;
}

.navbar2 {
  display: flex;
  background-color: #ffff;
}

.logo {
  text-align: left;
  margin-right: 40%;
  margin-left: 15%;
}

.navbartop {
  display: flex;
  align-items: center;
  width: 40%;
}

.nbt {
  display: none;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  padding: 5%;
}

@media screen and (min-width: 768px) {
  .navItem1 {
    display: flex;
    text-align: right;
  }

  .nbt {
    display: flex;
  }

  .navbar {
    display: none;
  }
}

.title {
  height: 200%;
  width: 80%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20%;
}

.ab-title1 {
  font-family: 'Cocogoose', sans-serif;
  color: #ec5242;
  font-size: 230%;
  font-weight: 900;
  line-height: 40px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0%;
  text-align: center;
}

.comment {
  position: absolute;
  background-color: #d3d3d3;
  padding: 0%;
  margin-right: 5%;
  margin-left: 0%;
  margin-top: -13%;
  border: solid white 3px;
  align-content: center;
  justify-content: center;
  box-sizing: content-box;
  z-index: 51;
}

.ab-circle {
  position: relative;
  margin-bottom: 5%;
  margin-right: 70%;
  margin-top: -5%;
  z-index: 50;
}

.ab-circlecont {
  margin-top: 0%;
  z-index: 50;
}

.ab-comment-1 {
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  font-weight: 100;
  line-height: 25px;
  align-self: center;
  padding: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  z-index: 51;
  position: absolute;
  margin-right: 5%;
  background-color: white;
}

.ab-date {
  margin-top: 55%;
  text-align: center;
  margin-left: 5%;
}

.ab-location {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  margin-top: 2%;
}

.program {
  background-color: white;
  padding-bottom: 20%;
  padding-top: 10%;
}

.program-title {
  margin-bottom: 5%;
  text-align: center;
}

.ab-pr-title {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-size: 130%;
  text-align: center;
  padding-top: 0%;
  font-weight: 100;
  margin-top: 0%;
  margin-bottom: 0%;
}

.logocreat {
  margin-top: 5%;
  font-family: 'Lato', serif;
  margin-left: 5%;
  margin-right: 5%;
}

.itemss {
  text-align: center;
}

.ab-itemsimg {
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20%;
  margin-top: 5%;
  padding: 3%;
  border: solid gray;
}

hr {
  text-decoration: dashed;
}

@media screen and (min-width: 768px) {
  .ab-title1 {
    font-size: 400%;
    line-height: 70px;
    margin-bottom: 15%;
    margin-left: 10%;
  }

  .ab-comment {
    background-color: white;
    margin-left: 10%;
    margin-top: -19%;
  }

  .ab-itemsimg {
    align-self: center;
    text-align: center;
  }
}

.featured-speakers {
  background-color: #ffff;
  margin-bottom: 0%;
}

.feat-title {
  text-align: center;
}

.title-speakers {
  text-align: center;
  color: #272a31;
  font-family: 'Lato', serif;
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 100%;
  font-weight: 800;
}

.surgeryImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.surgimg {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.previous {
  text-align: center;
  font-family: 'Lato', serif;
}

.partnership {
  background-color: #272a31;
  justify-content: center;
}

.partner-class {
  color: #d3d3d3;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  margin-top: 10%;
  padding-top: 6%;
  margin-bottom: 0%;
}

.part {
  text-align: center;
}

.indicator {
  align-self: center;
}

.partner-holder {
  display: flex;
  flex-direction: column;
  color: #393939;
  margin-left: 5%;
  margin-right: 15%;
  padding-bottom: 10%;
}

@media screen and (min-width: 768px) {
  .surgeryImg {
    flex-direction: row;
  }

  .surgimg {
    width: 40%;
    margin-top: 5%;
  }

  .partner-holder {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .partner-class {
    font-size: 150%;
  }
}
