.big-container {
  margin: 0%;
  padding: 0%;
}

.container-1 {
  padding: 0%;
  background-color: #d3d3d3;
}

.navItem1 {
  display: none;
  justify-content: flex-end;
  background-color: #272a31;
  align-items: center;
}

.navItem {
  color: #d3d3d3;
  margin-right: 10px;
  align-items: baseline;
  font-family: 'Lato', serif;
  font-size: 80%;
  font-weight: 300;
}

li.nav-item {
  list-style: none;
  min-width: 160px;
  z-index: 1;
  padding: 20px;
  font-size: 32px;
  height: 44px;
  font-weight: 600;
  margin-left: 15px;
}

a.nav-link {
  color: black;
  display: block;
  text-decoration: none;
}

.show {
  display: block;
}

.navbar {
  min-height: 50px;
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  margin: 0;
}

.home-page {
  background-color: #d3d3d3;
  padding-top: 1%;
  padding-bottom: 3%;
}

.navBar1 {
  display: flex;
  flex-direction: column;
}

button.hamb {
  margin-top: 3%;
  margin-left: 3%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  animation: transform 1s;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 00.3s ease-in-out;
  color: white;
}

.hamb.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamb.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#nav-menu {
  display: none;
}

#nav-menu.active {
  display: block;
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 20px 0 0 0;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: white;
  text-align: left;
  z-index: 99;
}

.nav-link {
  transition: 0.7s ease;
}

.navbar2 {
  display: flex;
  background-color: #ffff;
  position: fixed;
  z-index: 98;
  width: 100%;
  justify-content: space-between;
  overflow-y: hidden;
}

.logo {
  text-align: left;
  margin-right: -10%;
  margin-left: 10%;
  padding-right: 20%;
}

.navbartop {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-around;
}

.top {
  display: flex;
  text-align: right;
  justify-content: end;
}

.nbt {
  text-decoration: none;
  color: #272a31;
  display: none;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  padding: 5%;
  justify-self: flex-end;
}

@media screen and (min-width: 768px) {
  .navItem1 {
    display: flex;
    text-align: right;
  }

  .nbt {
    display: flex;
    text-align: right;
    justify-self: right;
  }

  .navbar {
    display: none;
  }

  .navbartop {
    width: 95%;
  }

  .navbar2 {
    position: relative;
  }
}

.title {
  height: 200%;
  width: 100%;
  text-align: left;
  margin-left: 5%;
  padding-top: 10%;
}

.title1 {
  font-family: 'Cocogoose', sans-serif;
  color: #ec5242;
  font-size: 270%;
  font-weight: 900;
  line-height: 40px;
  margin-top: 10%;
  margin-bottom: 0%;
  padding: 0%;
  text-decoration: #272a31;
}

.title2 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  margin-bottom: 0%;
  font-size: 110%;
  margin-top: 25%;
}

.comment {
  position: absolute;
  background-color: #d3d3d3;
  padding: 0%;
  margin-right: 5%;
  margin-left: 0%;
  margin-top: -13%;
  border: solid white 3px;
  align-content: center;
  justify-content: center;
  box-sizing: content-box;
  z-index: 51;
}

.circle {
  position: relative;
  margin-bottom: 5%;
  margin-left: 50%;
  margin-top: -5%;
  z-index: 50;
}

.circlecont {
  margin-top: 0%;
  z-index: 50;
}

.comment-1 {
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  font-weight: 100;
  line-height: 25px;
  align-self: center;
  padding: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  z-index: 51;
}

.date {
  margin-top: 35%;
}

.date-set {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 1000;
  font-size: 170%;
  color: #272a31;
  margin-top: 3%;
  margin-bottom: 3%;
}

.location {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  margin-top: 2%;
}

.program {
  background-color: #1d2025;
  padding-bottom: 20%;
  padding-top: 10%;
}

.program-title {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.pr-title {
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  font-size: 110%;
  text-align: center;
  padding-top: 0%;
  font-weight: 100;
  margin-top: 0%;
  margin-bottom: 0%;
}

.program-items {
  padding: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 20%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.itemss {
  display: flex;
  background-color: #272a31;
  margin-bottom: 3%;
  margin-left: 2%;
  padding: 1%;
}

.lecture {
  display: flex;
  font-family: 'Cocogoose', sans-serif;
  font-size: 100%;
  color: #ec5242;
  align-self: center;
  text-align: left;
  width: 30%;
  margin-right: 5px;
}

.lecturep {
  display: flex;
  font-family: 'Cocogoose', sans-serif;
  font-size: 90%;
  color: #d3d3d3;
  text-align: left;
  align-self: center;
  width: 40%;
  line-height: 15px;
}

.itemsimg {
  width: 20%;
  height: auto;
  margin: 5%;
  background-color: #272a31;
}

.programLink {
  display: flex;
  justify-content: center;
}

.join {
  width: 30%;
  height: 15%;
  color: #d3d3d3;
  background-color: #ec5242;
  font-size: 80%;
  padding: 6% 15%;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.seeProgram {
  display: none;
}

@media screen and (min-width: 768px) {
  .title1 {
    font-size: 400%;
    line-height: 70px;
    margin-bottom: 10%;
  }

  .title2 {
    margin-top: 10%;
    font-size: 190%;
  }

  .comment {
    margin-top: -10%;
    margin-right: 35%;
  }

  .date {
    margin-top: 15%;
  }

  .circle {
    margin-left: 50%;
  }

  .join {
    display: none;
  }

  .seeProgram {
    font-family: 'Lato', serif;
    font-size: 130%;
    text-align: center;
    align-self: center;
    color: #d3d3d3;
    margin: auto;
  }

  .items-container {
    display: flex;
    flex-direction: row;
    margin-right: 0%;
    padding-bottom: 0%;
    width: 100%;
    margin-bottom: 0%;
  }

  .itemss {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 15px;
    align-items: center;
    justify-content: space-evenly;
  }

  .speaker {
    margin: 5%;
    display: block;
  }

  .speakers-cards {
    display: flex;
    margin: auto;
    width: 65%;
    height: auto;
    justify-items: center;
  }
}

.featured-speakers {
  background-color: #ffff;
  margin-bottom: 0%;
}

.feat-title {
  text-align: center;
}

.speak {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: -10%;
}

.speakers-cards {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5%;
  margin-top: 5%;
}

.speaker {
  width: 95%;
  height: 20%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.title-speakers {
  text-align: center;
  color: #272a31;
  font-family: 'Lato', serif;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 100%;
  font-weight: 800;
  background-color: white;
  padding-top: 10%;
}

.speaker-subt {
  color: #ec5242;
  font-family: 'Lato', serif;
  font-size: 80%;
  font-weight: 300;
}

.speak .speaker-subt {
  color: #ec5242;
}

.speaker-descript {
  color: #272a31;
  font-family: 'Lato', serif;
  text-align: left;
  font-size: 60%;
}

.dot {
  position: relative;
  top: 0;
  left: 0;
  width: 8%;
}

.square {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 5%;
}

.speakerimg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
  height: auto;
}

.sp {
  display: flex;
}

.partnership {
  background-color: #272a31;
  justify-content: center;
}

.partner-class {
  color: #d3d3d3;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  margin-top: 10%;
  padding-top: 6%;
  margin-bottom: 0%;
}

.part {
  text-align: center;
}

.indicator {
  align-self: center;
}

.partner-holder {
  display: flex;
  flex-direction: column;
  color: #393939;
  margin-left: 0%;
  padding-bottom: 5%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .partner-holder {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .partner-class {
    font-size: 150%;
  }
}

.ab-title {
  background-color: #d3d3d3;
}

.ab-title1 {
  font-family: 'Cocogoose', sans-serif;
  color: #ec5242;
  font-size: 230%;
  font-weight: 900;
  line-height: 40px;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  margin-right: 5%;
  padding-top: 20%;
}

.ab-circle {
  position: relative;
  margin-bottom: 5%;
  margin-right: 70%;
  margin-top: 0%;
  z-index: 50;
}

.ab-circlecont {
  margin-top: 0%;
  z-index: 50;
}

.ab-comment-1 {
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  font-weight: 100;
  line-height: 25px;
  align-self: center;
  padding: 3%;
  margin-top: -15%;
  margin-bottom: 0%;
  text-align: center;
  z-index: 51;
  position: absolute;
  margin-right: 5%;
  background-color: white;
}

.ab-date {
  margin-top: 34%;
  text-align: center;
  margin-left: 0%;
  padding-bottom: 5%;
}

.ab-location {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  margin-top: 2%;
  margin-left: 0;
  margin-right: 5%;
}

/* .program {
    background-color:white;
    padding-bottom: 20%;
    padding-top: 10%;
} */

/* .program-title {
    margin-bottom: 5%;
    text-align: center;
} */

.ab-program {
  text-align: center;
}

.ab-pr-title {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-size: 130%;
  text-align: center;
  padding-top: 0%;
  font-weight: 100;
  margin-top: 0%;
  margin-bottom: 0%;
}

.logocreat {
  margin-top: 5%;
  font-family: 'Lato', serif;
  margin-left: 5%;
  margin-right: 5%;
}

/*
.itemss {
    text-align: center;
} */

.ab-itemsimg {
  align-self: center;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 20%;
  margin-top: 5%;
  padding: 3%;
  border: solid gray;
}

hr {
  text-decoration: dashed;
}

@media screen and (min-width: 768px) {
  .ab-title1 {
    font-size: 400%;
    line-height: 70px;
    margin-bottom: 15%;
    margin-left: 10%;
  }

  .ab-comment {
    background-color: white;
    margin-left: 10%;
    margin-top: -5%;
  }

  .ab-itemsimg {
    align-self: center;
    text-align: center;
  }
}

.ab-featured-speakers {
  background-color: #ffff;
  margin-bottom: 0%;
}

.ab-feat-title {
  text-align: center;
}

.ab-title-speakers {
  text-align: center;
  color: #272a31;
  font-family: 'Lato', serif;
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 100%;
  font-weight: 800;
  background-color: white;
  padding-top: 10%;
}

.surgeryImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.surgimg {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.previous {
  text-align: center;
  font-family: 'Lato', serif;
}

@media screen and (min-width: 768px) {
  .surgeryImg {
    flex-direction: row;
  }

  .surgimg {
    width: 40%;
    margin-top: 5%;
  }
}
